node_modules/**
!node_modules/
!node_modules/@xterm/
!node_modules/@xterm/xterm/
!node_modules/@xterm/xterm/package.json
!node_modules/@xterm/xterm/LICENSE
!node_modules/@xterm/xterm/css/
!node_modules/@xterm/xterm/css/xterm.css
!node_modules/@xterm/xterm/lib/
!node_modules/@xterm/xterm/lib/xterm.js
!node_modules/@xterm/addon-fit/
!node_modules/@xterm/addon-fit/package.json
!node_modules/@xterm/addon-fit/LICENSE
!node_modules/@xterm/addon-fit/lib/
!node_modules/@xterm/addon-fit/lib/addon-fit.js
!node_modules/node-pty/
!node_modules/node-pty/package.json
!node_modules/node-pty/LICENSE
!node_modules/node-pty/lib/
!node_modules/node-pty/lib/**/*.js
!node_modules/node-pty/prebuilds/
!node_modules/node-pty/prebuilds/**
src/
test/
out/test/
.vscode/
.tools/
.gitignore
tsconfig.json
*.map
**/*.map
*.mov
*.vsix
example.gif
media/*.svg
Makefile
Makefile.env
package-lock.json
